data/
exploration/
credentials/
notes/
project_marathon_requirements.txt
.vscode/
logs/
scripts/__pycache__
*.pyc
.ipynb_checkpoints/
scripts/spotify_user.py
writing/*.log
writing/*.bcf
writing/*.aux
writing/*.xml
writing/*.toc
flask_session/